
@font-face{
    src:url(font/Gputeks-Regular.woff)format ("woff"), url("font/Gputeks-Regular.woff2") format("woff2");
    font-family: "Gputeks";
}

*{
    font-family: "Gputeks";
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

html{
    font-size: 30px;
}

h1{
    font-size: 6rem;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1rem;
}

.nav-section {
    height: calc(100vh - 162px);
    width: 138px;
    border: solid;
    position: fixed;
    display: flex;
    right: 0;
    top: 50%;
    transform:translate(0,-50%);
    background-color: #3E4761;
    padding: 50px 53px 0px 33px;
}

.nav-text{
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: white;
}